body,
html {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  text-align: center;
}

.container {
  margin-top: 50px;
}

input[type="text"] {
  padding: 10px;
  width: 200px;
  margin-top: 20px;
}

button {
  padding: 10px;
  width: 120px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
}

#weatherResult {
  margin-top: 20px;
}
